/.gradle/
/.settings/
/gradle/
/eclipse/
/build/
/bin/
/libs/

/.classpath
/.project
/gradlew
/gradlew.bat

# Project related files
# Currently not included
/downloads/
/models/
/images/

# Not including APIs
/src/api
